/* Social Media Icons */

.icon {
  background-color: #ECEFF1;
  border-radius: 20%;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}

.icon:hover {
  transform: scale(1.1);
  background-color: #FB8C00;
  border-radius: 20%;
}

/* Nav Bar*/

.nav.nav-pills.flex-column.flex-sm-row {
  padding: 15px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 15px;
  font-size: 2rem;
  font-family: 'Cantora One', sans-serif;
}

.nav-link {
  color: #4C3575 !important;
  border: 8px solid #371B58 !important;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 15px;
}

.nav-link:hover {
  color: #fff !important;
  background-color: #371B58;
  border-color: #4C3575;
  transition: background-color 300ms ease-in-out;
}

.nav-link.active {
  color: #fff !important;
  background-color: #371B58 !important;
  border-color: #371B58 !important;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.nav-link.active:hover {
  background-color: #FB8C00 !important;
  border-color: #FB8C00 !important;
}

/*Footer Image*/

.page-top {
  margin: 0 auto;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: flex-start;
}

.main1,
.main2 {
  flex: 1;
  padding: 20px;
  border: 10px solid white;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #4C3575;
}

.main3 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  border: 10px solid white;
  border-radius: 20px;
  background-color: #4C3575;
  justify-content: center;
}


.footer {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #371B58;
  margin: 0.25rem;
  font-size: 2rem;
  padding: 1rem;
}

#footer-copyright {
  font-size: 0.75rem;
  color: #FFF;
  text-align: center;
}

/* Main Class Attributes */

.btn.btn-primary {
  background-color: #371B58;
  font-family: "Cantora One", sans-serif;
  border: none;
  height: 4rem;
  width: auto;
  transition: background-color 0.3s ease-in-out;
}

.btn.btn-primary:hover {
  background-color: #FB8C00;
}

.PDF-div {
  max-width: 70%;
  margin: 0 auto;
}

#pdf-container {
  width: 100%;
  height: auto;
}

hr {
  border: none; 
  height: 5px;
  background-color: #371B58; 
  margin: 20px 0; 
}

.h2, #h2 {
  text-align: center;
  font-family: "Cantora One", sans-serif;
  color: #371B58;
  padding: 0px;
  font-size: 18px;
  margin: 0;
}

#h3-footer, .h3, #h3 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Cantora One", sans-serif;
  text-align: center;
  color: #FFF;
}

ul {
  color: #FFF;
  text-indent: 10px;
  font-size: 1.5rem;
  justify-content: left;
  font-family: 'Jost', sans-serif;
}

p {
  color: black !important;
  text-indent: 10px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Jost', sans-serif;
}


button {
  background-color: #d27685;
  font-family: "Cantora One", sans-serif;
  border: none;
  padding: 10px;
  width: 80px;
}

body {
  background-color: white;
  color: black;
  font-family: 'Jost', sans-serif;
  transition: background-color 0.3s ease-in-out;
}

a:link {
  color: white;
}

a:visited {
  color: #d27685;
}

/* Header Elements */


.header {
  display: flex;
  flex: 2;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0;
}

#header-icon {
  display: flex;
  max-width: 80%;
  margin: auto;
  transform: translateY(20px);
  animation: fade-in-from-bottom 1s forwards;
  border-radius: 3rem;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.header img {
  width: 25%;
  margin-right: 1px;
  margin-top: 0;
}

#profile-heading {
  opacity: 1;
  transition: opacity 1.0s ease-in-out;
  color: black;
}

#profile-heading.animate {
  opacity: 1;
  color: #FB8C00;
  transition: opacity 1.0s ease-in-out, color 0.5s ease-in-out 0.2s;
}

#wfstudio, #dearlylogo {
  max-width: 65%;
}

#small-thumbnail {
  max-width: 40%;
}

#project-thumbnail {
  max-width: 60%;
  height: auto;
}

#kickout-prev {
  max-width: 80%;
}

#site-prev {
  max-width: 80%;
  margin-bottom: 1rem;
}

/* Dark Mode CSS */

button#darkModeToggle.btn.btn-darkmode {
  background-color: #555;
  color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
  width: auto;
  font-size: 1.5rem;
  line-height: 1;
  margin: 1rem;
  font-family: "Oooh Baby",sans-serif;
}

.dark-mode button#darkModeToggle.btn.btn-darkmode {
  background-color: #f8f9fa;
  color: #C45509;
}

#darkModeToggle {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.dark-mode {
  background-color: #222222;
  color: #FFF;
}

.dark-mode #darkModeToggle {
  background-color: #222222;
}

h1, h2, h3, p {
  transition: color 0.5s ease-in-out;
}

.dark-mode #profile-heading {
  color: #FFF;
}

.dark-mode #profile-heading.animate {
  opacity: 1;
  color: #FB8C00; 
  transition: opacity 1.0s ease-in-out, color 1.0s ease-in-out;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p {
  color: #FFFFFF;
}

button#darkModeToggle.btn.btn-darkmode:hover {
  box-shadow: 0 0 20px #FB8C00;
  transition: box-shadow 0.5s ease-in-out;
}

.dark-mode .nav-link {
  color: white !important;
}

/* Header Line */

.linetop {
  width: 90%;
  height: 2rem;
  border-radius: 20px;
  margin: auto;
  padding: 5px;
  background: #371B58;
  position: relative;
  animation: expandLine 1s linear forwards;
}

@keyframes expandLine {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
/*Header Text Animation*/

.h1-top {
  z-index: 1;
  text-align: center;
  white-space: normal;
  padding: 1rem;
  font-family: 'Oooh Baby', cursive;
  font-size: 7rem;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 3s forwards;
  background-image: linear-gradient(180deg, #66347F, #7858A6);
  -webkit-background-clip: text;
  background-clip: text; 
  -moz-background-clip: text;
  color: transparent;
  line-height: 7rem; 
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {
  .h1-top {
    font-size: 3.5rem;
  }

  .nav-pills {
    text-align: center;
  }
}

/*Item Slide*/

.slide-in-text {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide-in-text.active {
  opacity: 1;
  transform: translateX(0);
}


/*Typing Container*/

.typing-container {
  font-size: 1.5rem;
  font-family: Pacifico, sans-serif;
  border: 0px;
  padding: 10px;
  width: 600px;
  margin: 20px auto;
  text-align: center;
  color: #FFF;
}

/*Media Queries*/

@media (max-width: 1024px) {
  .grid-container {
    flex-direction: column;
  }

  .main1, .main2 {
    width: 100%;
  }

  .aside-one {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .main, .aside-one {
    width: 100%;
    flex-direction: column;
  }

  .nav-pills {
    text-align: center;
  }
}

/* Quote Generator */

#deer {
  margin: 0 auto;
  max-width: 250px;
  max-height: auto;
  display: block;
}

/* Fetch Asynchronous Pup */

.async-demo {
  align-items: center;
  margin: auto 0;
  background-color: #371B58;
  text-align: center;
  border-radius: 75%;
  max-width: 250px;
  height: auto;
}

.async-image {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.fetch-button {
  background-color: #9e4784;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: auto;
}

.fetch-button:hover {
  background-color: #FB8C00;
}

/* Media Queries */

@media (max-width: 1024px) {
  .grid-container {
    flex-direction: column;
  }

  .main1, .main2 {
    width: 100%;
  }

  .aside-one {
    margin-top: 1rem;
  }
  
  * {
    word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .grid-container {
    max-width: 100%;
  }

  .nav.nav-pills.flex-column.flex-sm-row {
    font-size: 2rem;
  }
  
  * {
    word-wrap: break-word;
  }

}

/* Bootstrap Accordian */

.accordion-item button.accordion-button[aria-expanded="true"] {
  background-color: #371B58; 
  color: #fff; 
}

.accordion-item button.accordion-button {
  color: black; 
  font-weight: bold; 
  font-family: "Cantora One", sans-serif;
font-size: 2rem;
}


