hr {
  height: 10px; 
  border: none; 
  background-color: white; 
}

/*Photo Gallery*/

/* Gallery Container */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Three columns with a minimum width of 300px */
    gap: 10px; /* Adjust the gap between images */
    max-width: 1200px;
    margin: 0 auto; /* Center the gallery */
}

/* Gallery Images */
.gallery img {
    max-width: 100%; /* Allow images to resize within their column */
    height: auto;
}

/* Caption Styles (unchanged) */
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.gallery:hover .caption {
    opacity: 1;
}


/* Lightbox container */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
}

.close-lightbox {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Social Media Icons */

.icon {
  background-color: #ECEFF1;
  border-radius: 20%;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}

.icon:hover {
  transform: scale(1.1);
  background-color: #FB8C00;
  border-radius: 20%;
}

/* Nav Bar*/

.nav.nav-pills.flex-column.flex-sm-row {
  padding: 15px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 15px;
  font-size: 2rem;
  font-family: 'Cantora One', sans-serif;
}

.nav-link {
  color: #4C3575 !important;
  border: 8px solid #371B58 !important;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 15px;
}

.nav-link:hover {
  color: #fff !important;
  background-color: #371B58;
  border-color: #4C3575;
  transition: background-color 300ms ease-in-out;
}

.nav-link.active {
  color: #fff !important;
  background-color: #371B58 !important;
  border-color: #371B58 !important;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.nav-link.active:hover {
  background-color: #FB8C00 !important;
  border-color: #FB8C00 !important;
}

/*Footer Image*/

.rounded-image {
  border-radius: 70%;
}

/* Flex Box */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: flex-start;
}

.main1,
.main2 {
  flex: 3;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #4C3575;
  margin: 0.25rem;
}

.main3 {
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  background-color: #4C3575;
  margin: 0.25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.footer {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #371B58;
  margin: 0.25rem;
  font-size: 2rem;
}

#footer-copyright {
  font-size: 0.75rem;
  color: #FFF;
  text-align: center;
}

/* Main Class Attributes */

.h1-main {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Cantora One", sans-serif;
  text-align: center;
  color: white !important;
}

.h2 {
  text-align: center;
  font-family: "Cantora One", sans-serif;
  color: #FFF !important;
  padding: 0px;
  font-size: 4rem;
  margin: 0;
  text-decoration: underline;
}

.h3 {
  font-size: 1.5rem;
  font-family: "Cantora One", sans-serif;
  text-align: center;
  color: #FFF !important;
}

#h3-footer {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Cantora One", sans-serif;
  text-align: center;
  color: #FFF;
}

ul {
  color: #FFF;
  text-indent: 10px;
  font-size: 1.5rem;
  justify-content: left;
  font-family: 'Jost', sans-serif;
}

p {
  color: #FFF;
  text-indent: 10px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Jost', sans-serif;
}


button {
  background-color: #d27685;
  font-family: "Cantora One", sans-serif;
  border: none;
  padding: 10px;
  width: 80px;
}

body {
  background-color: white;
  color: #66347f;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

a:link {
  color: white;
}

a:visited {
  color: #d27685;
}

/* Header Elements */

#header-icon {
  display: flex;
  max-width: 80%;
  margin: auto;
  transform: translateY(20px);
  animation: fade-in-from-bottom 1s forwards;
  border-radius: 3rem;
}

@keyframes fade-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.header {
  display: flex;
  flex: 2;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 0;
}

.header img {
  width: 25%;
  margin-right: 1px;
  margin-top: 0;
}

#profile-heading {
  opacity: 1;
  transition: opacity 1.0s ease-in-out;
  color: black;
}

#profile-heading.animate {
  opacity: 1;
  color: #FB8C00;
  transition: opacity 1.0s ease-in-out, color 0.5s ease-in-out 0.2s;
}

#dearlylogo {
  background-color: #FFF;
}

/* Dark Mode CSS */

button#darkModeToggle.btn.btn-darkmode {
  background-color: #555;
  color: #fff;
  border-radius: 20px;
  padding: 20px 20px;
  font-size: 1rem;
  line-height: 1;
  margin: 1rem;
  font-family: "Oooh Baby",sans-serif;
}

button#darkModeToggle.btn.btn-darkmode.dark-mode {
  background-color: #f8f9fa;
  color: #000;
}

#darkModeToggle {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.dark-mode {
  background-color: #222222;
  color: #FFF;
}

.dark-mode #darkModeToggle {
  background-color: #222222;
}

h1, h2, h3, p {
  transition: color 0.5s ease-in-out;
}

.dark-mode #profile-heading {
  color: #FFF;
}

.dark-mode #profile-heading.animate {
  opacity: 1;
  color: #FB8C00; 
  transition: opacity 1.0s ease-in-out, color 1.0s ease-in-out;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p {
  color: #FFFFFF;
}

button#darkModeToggle.btn.btn-darkmode:hover {
  box-shadow: 0 0 10px #FB8C00;
  transition: box-shadow 0.5s ease-in-out;
}

.dark-mode .nav-link {
  color: white !important;
}


/* Header Line */

.linetop {
  width: 90%;
  height: 2rem;
  border-radius: 20px;
  margin: auto;
  padding: 5px;
  background: #371B58;
  position: relative;
  animation: expandLine 1s linear forwards;
}

@keyframes expandLine {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*Header Text Animation*/

.h1-top {
  text-align: center;
  padding: 10px;
  font-family: "Jost", sans-serif;
  color: white;
  font-size: 90px;
  border-radius: 50px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Item Slide*/

.slide-in-text {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide-in-text.active {
  opacity: 1;
  transform: translateX(0);
}


/*Typing Container*/

.typing-container {
  font-size: 1.5rem;
  font-family: Pacifico, sans-serif;
  border: 0px;
  padding: 10px;
  width: 600px;
  margin: 20px auto;
  text-align: center;
  color: #FFF;
}

/*Media Queries*/

@media (max-width: 1024px) {
  .grid-container {
    flex-direction: column;
  }

  .main1, .main2 {
    width: 100%;
  }

  .aside-one {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .main, .aside-one {
    width: 100%;
    flex-direction: column;
  }
  
   .h1-top {
    font-size: 60px;
    padding: 5px; 
  }
  
  .nav-pills {
    text-align: center;
  }
}


/* Quote Generator */

#deer {
  margin: 0 auto;
  max-width: 250px;
  max-height: auto;
  display: block;
}

/* Fetch Asynchronous Pup */

.async-demo {
  align-items: center;
  margin: auto 0;
  background-color: #371B58;
  text-align: center;
  border-radius: 75%;
  max-width: 250px;
  height: auto;
}

.async-image {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.fetch-button {
  background-color: #9e4784;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: auto;
}

.fetch-button:hover {
  background-color: #FB8C00;
}

/* Media Queries */

@media (max-width: 1024px) {
  .grid-container {
    flex-direction: column;
  }

  .main1, .main2 {
    width: 100%;
  }

  .aside-one {
    margin-top: 1rem;
  }
  
  * {
    word-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .grid-container {
    max-width: 100%;
  }

  .nav.nav-pills.flex-column.flex-sm-row {
    font-size: 18px;
  }
  
  * {
    word-wrap: break-word;
  }

}
